/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 4, 2018, 3:07:57 PM
    Author     : 15301105
*/
.list-group{
    margin-left: 22px;
    padding-top: 10px;
}
.admisFake{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.containerTemp{
    max-width: 100%;
}
.hr{
    margin-top: 3rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.description{
    padding-bottom: 3px;
    padding-left: 120px;
    padding-right: 100px;
    background: cornsilk;
    margin-bottom: 3%;
}
.description p{
    text-align: center; 
    font-size: 25px; 
    padding-top: 32px;
}
#std_img{
    width: 98%;
    margin-left: 16px;
    margin-top: 15px;
}